body{
  height: 100%;
  width: 100%;
}

#body{
  width: 100%;
  height: 100%;
  position: absolute
}

#clock-zone{
  width: 85vw;
  height:85vh;
  margin-top:50px;
  margin-left:auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.clock-row{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#reset-button {
  top:15px;
  left:15px;
  height:50px;
  width: 50px;
  background-color:#fc7b74; 
  border-radius: 360px;
  cursor:pointer;
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
}

#reset-icon {
  fill:white;
  height:50%;
  width:50%;
}